<div *ngIf="mi">
  <h2>{{ (mi? mi.ticker: null) | uppercase }} Details</h2>
  <div class="SecurityHeader" >
    <div class="SecurityHeader"><span>Ticker: </span>{{ (mi? mi.ticker: null) }}</div>
    <div class="SecurityHeader">  <img class="InvestLogo"
    src="https://invest-brands.cdn-tinkoff.ru/{{ mi.isin ? mi.isin : null }}x160.png" />
    </div>
</div>
  <div>
    <label for="hero-name">Figi name: </label>
    <input id="hero-name" [(ngModel)]="mi.figi" placeholder="Figi name" />
    
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="orders()">Get all orders</button>
</div>
<div>trackingId:{{ details }}</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
