<h2>My Tickers</h2>

<div>
  <label for="new-hero">Ticker name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add ticker
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let stock of stocks.instruments">
    <a routerLink="/detail/{{ stock.figi }}">
      <img
        class="InvestLogo__image_EAY2r"
        src="https://invest-brands.cdn-tinkoff.ru/{{
          stock.isin ? stock.isin : null
        }}x160.png"
      />
      {{ stock.ticker }}
      <span class="Money-module__money_UwC2N">
        <span>{{ stock.currency ? stock.currency : null }}</span>
      </span>
    </a>
    <button class="delete" title="delete Ticker" (click)="delete(stock.figi)">
      x
    </button>
  </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
