<h2>My Tickers</h2>

<div>
  <label for="new-hero">Ticker name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add ticker
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let stock of stocks.instruments">
    <div class="row">

    <div class="TableL">
    <a routerLink="/detail/{{ stock.ticker }}">
      <img
        class="InvestLogo"
        src="https://invest-brands.cdn-tinkoff.ru/{{
          stock.isin ? stock.isin : null
        }}x160.png"
      />
      {{ stock.ticker }}      
    </a>
    </div>

    <div class="TableR">
    <div>  
    <span class="Money-module">
      0.0{{ stock.currency ? stock.currency : null }}
    </span>
  </div>  
  <div>  
    <span class="Percent-module">
      5%
    </span>

  </div>  
    <button class="delete" title="delete Ticker" (click)="delete(stock.figi)">
      x
    </button>
  </div>    
  </div> 
  </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
